.gol-container{
    width: 100%;
    position: fixed;
    z-index: -1;
    transform: translateX(-50vw);
}
.buttons-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50%;
    text-align: center;
    top: 0;
    right:0 ;
    z-index: 3;
    
}
.comands{
    margin-right: 3%;
    font-family: raleway;
    align-self: flex-end;
    font-size: 1rem;
}
.buttons{
    align-self: flex-end;
}

.button{
    border-radius: 40px;
    margin: 0px 5px;
    padding: 4px 20px 4px;
    outline: 0;
    min-width: 60px;
    border: 1px solid rgb(226, 226, 226);
    cursor: pointer;
    position: relative;
    background-color: rgb(251, 255, 201);
    z-index: 5;
}

.button::after {
    content: "";
    background-color: rgba(81, 25, 0, 0.15);
    border-radius: 20px;
    width: 100%;
   
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    transition: 0.3s;
  }
  
  .button:hover::after {
    top: 2px;
    left: 1px;
  }
